
<div class="users index">

    <div class="container">

        <!-- content -->
        <div class="row"> 
<%= render 'menu' %>
            <div class="col-md-9">

                <h2>編集画面</h2>
                <%= simple_form_for(@job, url: job_path(@job), html:{:method=>:patch}) do |f| %>

   
                   <%= f.input :title , label: 'タイトル',error: "タイトルを入力してください" %>
                <%= f.input :company , label: '会社名',error: "会社名を入力してください" %>
                <%= f.input :category_id, :collection => @category, :label_method => :name, :value_method => :id, :label => "カテゴリ", :include_blank=>false  %>
                  <%= f.input  :description , label: '求人内容' ,error: '内容を入力してください' %>
                <%= f.input :salary , label: '給与',error: "給与を入力してください" %>
                <%= f.input :area , label: 'エリア' , collection: ["東京都", "神奈川県", "埼玉県","千葉県"],error: "エリアを入力してください" %>
                  <%= f.button :submit,  "更新", class: "btn btn-primary" %>
                  <% end %>



                  <%= link_to "戻る", :back %>

              </div>

          </div>
      </div>
  </div>