
<div class="users index">

    <div class="container">

        <!-- content -->
        <div class="row"> 
<%= render 'jobs/menu' %>
            <div class="col-md-9">

                <h2>編集画面</h2>
                <%= simple_form_for(@category, url: category_path(@category), html:{:method=>:patch}) do |f| %>

   
                
                  <%= f.input  :name , label: 'カテゴリ名' ,error: 'カテゴリ名を入力してください' %>
                  <%= f.button :submit,  "更新", class: "btn btn-primary" %>
                  <% end %>



                  <%= link_to "戻る", :back %>

              </div>

          </div>
      </div>
  </div>